* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: rgb(139, 90, 185);
}


/*=========================== LAYOUT ===================== */

#wrapper {
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


/*--------------------- Mainpage ---------------------*/


#mainpage {
    height: 100%;
    width: 100%;
}

/*--------- Header ---------*/

/**/
nav {
    height: 5rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#nav-left {
    display: flex;

}

#nav-right {
    display: flex;
    flex-direction: column;
}

.nav-link {
    padding: 10px 10px;
}


/*--------- Main #forum ---------*/


h1 {
    margin: 15px 0;
}


#forum {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 90%;
}



/*--------- Footer ---------*/

footer {
    display: flex;
    height: 3rem;
    align-items: center;
}




/*=========================== LIST CATEGORIES ===================== */


.centered {
    width: 960px;
    height: 100%;
    margin: auto;
    padding: 0 10px;
}

.categoryBoard {
    display: flex;
    justify-content: space-around;
}

.categoryCard {
    /* border: solid 2px black; */
    width: 150px;
    height: 150px;

    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;


}
